body{
  background-color: black;
  z-index: 1;
  color: white;
}

.banner{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8.033240997229917vh 3.2552083333333335vw 0;
  padding: 58px 50px 0; 
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#logo{
  height: 8.857340720221607vh;
}

p{
  font-family: "Alegreya Sans", sans-serif;
  font-size: 14px;
}

.description{
  padding: 8.033240997229917vh 13.020833333333334vw 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.description>div:nth-child(1){
  width: 40%;
}

#showcase_VHive{
  width: 35.807291666666664vw;
}

.schedule, .reservation{
  padding: 4.1551246537396125vh 0 6.925207756232687vh;
  background-color: #FFC82D;
  color: black;
}

h1{
  font-family: "Chivo", sans-serif;
  font-weight: bold;
}

.schedule>div{
  display: flex;
  justify-content: center;
}

thead{
  border-bottom: 1px solid black;
}

th{
  font-size: 20px;
  padding: 0 6.510416666666667vw;
}

button{
  border : 2px solid black;
  border-radius: 50px;
  padding: 15px;
  background: none;
}

#map {
  height: 400px;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

.footer{
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.reservation>input[type=email],.reservation>input[type=date],.reservation>input[type=time]{
    height: 40px;
    border : none;
    padding: 0;
    border-bottom: 1px solid black;
    background: none;
    width: 33%;
    padding-left: 10px;
    margin: 02% 33%;
}

.reservation>input[type=date],.reservation>input[type=time],.reservation>button{
  margin: 0 33% 02% 33%;
}

#cgu{
  display: flex;
  align-items: center;
  justify-content: center;
}

#cgu>input[type=checkbox]{
  margin-right: 0.5%;
}

#cgu>label{
  padding: 0;
  margin: 0;
}

.reservation>button{
  width: 33%;
  margin-top: 2%;
}

.reservation>button:hover{
  background: black;
  color: #FFC82D;
}

.reservation>input{
  outline: none;
}

::placeholder{
  color : black;
}

body > div.alert.alert-success.text-center > p > a{
  color:  red;
  border: 1px solid red;
  padding : 1% 10%;
}

body > div.alert.alert-success.text-center > p > a:hover{
  text-decoration: none;
  background: red;
  color: white;
}